<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="categoryColumn" type="xstring" value="geo_tag.cityID"/>
        <entry key="aggregationMethod" type="xstring" value="COUNT"/>
        <config key="frequencyColumns">
            <config key="selected_Internals">
                <entry key="array-size" type="xint" value="1"/>
                <entry key="0" type="xstring" value="favorite_count"/>
            </config>
            <entry key="mode" type="xstring" value="MANUAL"/>
            <config key="patternFilter">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="isCaseSensitive" type="xboolean" value="false"/>
                <entry key="isInverted" type="xboolean" value="false"/>
            </config>
            <config key="manualFilter">
                <config key="manuallySelected">
                    <entry key="array-size" type="xint" value="1"/>
                    <entry key="0" type="xstring" value="favorite_count"/>
                </config>
                <config key="manuallyDeselected">
                    <entry key="array-size" type="xint" value="11"/>
                    <entry key="0" type="xstring" value="geo_tag.cityID"/>
                    <entry key="1" type="xstring" value="geo_tag.countyID"/>
                    <entry key="2" type="xstring" value="geo_tag.stateID"/>
                    <entry key="3" type="xstring" value="id"/>
                    <entry key="4" type="xstring" value="in_reply_to_status"/>
                    <entry key="5" type="xstring" value="in_reply_to_user"/>
                    <entry key="6" type="xstring" value="retweet_count"/>
                    <entry key="7" type="xstring" value="user.followers_count"/>
                    <entry key="8" type="xstring" value="user.friends_count"/>
                    <entry key="9" type="xstring" value="user.id"/>
                    <entry key="10" type="xstring" value="user.statues_count"/>
                </config>
                <entry key="includeUnknownColumns" type="xboolean" value="false"/>
            </config>
            <config key="typeFilter">
                <config key="selectedTypes">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
            </config>
        </config>
        <entry key="weightColumn" type="xstring" isnull="true" value=""/>
        <entry key="grandTotals" type="xboolean" value="false"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.rowagg.RowAggregatorNodeFactory"/>
    <entry key="node-name" type="xstring" value="Row Aggregator"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.1.1.v202308221556"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.1.1.v202308221556"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Row Aggregator"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 65, Cols: 2"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObject"/>
            <entry key="port_object_summary" type="xstring" value="Inactive Port Object"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_2"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="91ac7414-135d-4741-b13f-ce1cc1b164c2"/>
    </config>
</config>
